.txtn,.txtn a:visited,.txtn a:link {
    font-family: sans-serif;
    font-size: normal;
    text-decoration: none;
}
.txtp,.txtp a:visited,.txtp a:link {
    font-family: monospace;
    font-size: normal;
    text-decoration: none;
}
.txtr,.txtr a:visited,.txtr a:link {
    font-family: serif;
    font-size: large;
    text-decoration: none;
}
.txtu,.txtu a:visited,.txtu a:link {
    font-family: Santakku;
    font-size: x-large;
    text-decoration: none;
}
.features {
    font-family: monospace;
    font-size: medium;
    font-weight: bold;
    color: #0a6611;
    display: flex;
    flex-flow: column nowrap;
    padding: 0.1em;
    margin: 0.1em;
    direction: ltr;
}
.features div,.features span {
    padding: 0;
    margin: -0.1rem 0;
}
.features .f {
    font-family: sans-serif;
    font-size: x-small;
    font-weight: normal;
    color: #5555bb;
}
.features .xft {
  color: #000000;
  background-color: #eeeeee;
  font-size: medium;
  margin: 0.1em 0em;
}
.features .xft .f {
  color: #000000;
  background-color: #eeeeee;
  font-style: italic;
  font-size: small;
  font-weight: normal;
}
.pnum {
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
    color: #444444;
}
.nd {
    font-family: monospace;
    font-size: x-small;
    color: #999999;
}
.meta {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-flow: row nowrap;
}
.features,.comments {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-flow: column nowrap;
}
.children {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    border: 0;
    background-color: #ffffff;
}
.children.document {
    flex-flow: column nowrap;
}
.children.face {
    flex-flow: column nowrap;
}
.children.line {
    align-items: stretch;
    flex-flow: row nowrap;
}
.children.cluster {
    flex-flow: row wrap;
}
.children.line {
    align-items: stretch;
    flex-flow: row nowrap;
}
.children.sign {
    flex-flow: column nowrap;
}
.contnr {
    width: fit-content;
}
.contnr.document,.contnr.face,
.contnr.line,
.contnr.cluster,
.contnr.word,
.contnr.sign {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-flow: column nowrap;
    background: #ffffff none repeat scroll 0 0;
    padding:  0.5em 0.1em 0.1em 0.1em;
    margin: 0.8em 0.1em 0.1em 0.1em;
    border-radius: 0.2em;
    border-style: solid;
    border-width: 0.2em;
    font-size: small;
}
.contnr.document,.contnr.face {
    border-color: #bb8800;
}
.contnr.line {
    border-color: #0088bb;
}
.contnr.cluster {
    flex-flow: row wrap;
    border: 0;
}
.contnr.word {
    border-color: #44bbff;
}
.contnr.sign {
    border-color: #bbbbbb;
}
.contnr.hl {
    background-color: #ffee66;
}
.lbl.document,.lbl.face,
.lbl.line,
.lbl.cluster,
.lbl.sign,.lbl.word {
    margin-top: -1.2em;
    margin-left: 1em;
    background: #ffffff none repeat scroll 0 0;
    padding: 0 0.3em;
    border-style: solid;
    font-size: small;
    display: block;
}
.lbl.document,.lbl.face {
    border-color: #bb8800;
    border-width: 0.3em;
    border-radius: 0.3em;
    color: #bb8800;
}
.lbl.line {
    border-color: #0088bb;
    border-width: 0.3em;
    border-radius: 0.3em;
    color: #0088bb;
}
.lbl.cluster {
    border-color: #dddddd;
    border-width: 0.2em;
    border-radius: 0.2em;
    color: #0000cc;
}
.lbl.word {
    border-color: #44bbff;
    border-width: 0.2em;
    border-radius: 0.2em;
    font-size: medium;
    color: #000000;
}
.lbl.sign {
    border-color: #bbbbbb;
    border-width: 0.1em;
    border-radius: 0.1em;
    font-size: small;
    color: #000000;
}
.op {
    padding:  0.5em 0.1em 0.1em 0.1em;
    margin: 0.8em 0.1em 0.1em 0.1em;
    font-family: monospace;
    font-size: x-large;
    font-weight: bold;
}
.name {
    font-family: monospace;
    font-size: medium;
    color: #0000bb;
}
.period {
    font-family: monospace;
    font-size: medium;
    font-weight: bold;
    color: #0000bb;
}
.text {
    font-family: sans-serif;
    font-size: x-small;
    color: #000000;
}
.srcln {
    font-family: monospace;
    font-size: medium;
    color: #000000;
}
.srclnnum {
    font-family: monospace;
    font-size: x-small;
    color: #0000bb;
}
.comment {
    color: #7777dd;
    font-family: monospace;
    font-size: small;
}
.operator {
    color: #ff77ff;
    font-size: large;
}
/* LANGUAGE: superscript and subscript */

/* cluster */
.det {
    vertical-align: super;
}
/* cluster */
.langalt {
    vertical-align: sub;
}
/* REDACTIONAL: line over or under  */

/* flag */
.collated {
    font-weight: bold;
    text-decoration: underline;
}
/* cluster */
.excised {
    color: #dd0000;
    text-decoration: line-through;
}
/* cluster */
.supplied {
    color: #0000ff;
    text-decoration: overline;
}
/* flag */
.remarkable {
    font-weight: bold;
    text-decoration: overline;
}

/* UNSURE: italic*/

/* cluster */
.uncertain {
    font-style: italic
}
/* flag */
.question {
    font-weight: bold;
    font-style: italic
}

/* BROKEN: text-shadow */

/* cluster */
.missing {
    color: #999999;
    text-shadow: #bbbbbb 1px 1px;
}
/* flag */
.damage {
    font-weight: bold;
    color: #999999;
    text-shadow: #bbbbbb 1px 1px;
}
.empty {
  color: #ff0000;
}

